.marieImage,
.samanthaImage {
  width: 100%;
  height: auto;
  float: right;
  margin: 0 20px 20px 0;
  max-width: 576px;
  height: auto;
}

.gemmaImage,
.catherineImage {
  width: 100%;
  height: auto;
  float: right;
  margin: 0 20px 20px 0;
  max-width: 576px;
  height: auto;
}

.gemmaImage {
  float: left !important;
}

.underline {
  text-decoration: underline !important;
}

@media (max-width: 767px) {
  .bnnerClass {
    height: auto !important;
    background-position: center;
    padding: 22% 0;
  }

  #button {
    margin-top: 10rem;
  }
}

@media (max-width: 600px) {
  .bnnerClass {
    padding: 30% 0;
  }
}

/* @media (min-width: 1024px) {
  .bannerClass {
    padding: 0 !important;
    background-size: contain !important
  }
}

@media (min-width: 1280px) {
  .bannerClass {
    background-size: contain !important
  }
} */