/* src/ImageSlider.css */
.slider-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 25%;
  box-sizing: border-box;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slider-button.left {
  left: 0;
}

.slider-button.right {
  right: 0;
}

.imageDetails {
  text-align: center;
  padding: 10px;
}
@media (max-width: 767px) {
  .slider {
    display: block;
  }

  .slide {
    width: 100%;
  }
}
