/* src/ImageSlider.css */
.slider-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 25%;
  box-sizing: border-box;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slider-button.left {
  left: 48px;
}

.slider-button.right {
  right: 54px;
}

.imageDetails {
  text-align: center;
  padding: 10px;
}

.underline {
  text-decoration: underline !important;
}

.img {
  width: 100% !important;
  height: 400px !important;
  object-fit: cover;
  /* or 'contain' based on your preference */
}

.fixImageSize {
  width: 400px !important;
  height: 400px !important;
  overflow: hidden;
  padding: 40px;
  /* Optional, to hide overflow if needed */
}


/* @media (max-width: 1440px) {
  .slider-button.right {
    right: 54px;
  }
} */

@media (min-width: 767px) and (max-width: 1279px) {
  .slider-button.right {
    right: 0;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .slider-button.right {
    right: 0px;
  }
}

@media (max-width: 767px) {
  .slider {
    display: block;
  }

  .slide {
    width: 100%;
  }

  .fixImageSize {
    padding-left: 0;
  }

  .slider-button.left {
    left: 7px;
  }
}