@media (max-width: 1023px) {
    .loginForm {
        height: 560px;
        margin: -24px;
        margin-left: auto;
        margin-right: auto;
    }

    .loginPage {
        min-height: 681px;
    }

    .iframe {
        width: 350px;
        height: 100%;
        border: none
    }
}

@media (max-width: 567px) {
    .iframe {
        width: 280px;
        height: 100%;
        border: none
    }
}

@media (min-width: 1024px) {
    .loginForm {
        margin-top: -60px;
    }

    .loginPage {
        min-height: 581px;
    }

    .iframe {
        width: 400px;
        height: 100%;
        border: none
    }
}