#textBox {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 10;
  color: black;
  background-color: white;
  opacity: 0.7;
  width: 86%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: background-color 0.2s;
}

#button {
  background-color: #42f5e9;
  z-index: 20;
  border: none;
  border-radius: 9999px;
  padding: 1rem 2rem;
  color: black;
  font-weight: bold;
  position: absolute;
  margin-top: 8rem;
  transition: background-color 0.2s;
}

#textBox:hover {
  background-color: #42f5e9;
}

#textBox:hover~#button {
  background-color: white;
}

#button:hover {
  background-color: white;
}

.customClass {
  height: 300px;
  width: 400px;
}


@media (max-width: 767px) {
  .bannerClass {
    height: auto !important;
    background-position: center;
    padding: 22% 0;
  }

  #button {
    margin-top: 10rem;
  }
}

@media (max-width: 600px) {
  .bannerClass {
    padding: 30% 0;
  }
}

@media screen and (max-width: 450px) {
  .customClass {
    height: 200px;
    width: 270px;
  }
}

@media (max-width: 368px) {
  .customFontSize {
    font-size: 20px !important;
    font-weight: 600 !important;
  }
}

/* @media (min-width: 1024px) {
  .bannerClass {
    padding: 0 !important;
    background-size: contain !important
  }
}

@media (min-width: 1280px) {
  .bannerClass {
    background-size: contain !important
  }
} */